/*
Custom CSS for https://wildwanderer-vr.com on https://doras.to
*/

/* Global font */
.bn-block-outer {
  font-family: "Nunito Sans Variable", sans-serif;
}

.bn-block-outer {
  color: rgb(0 0 0 / 75%);
}

/* Profile heading */
#display-name,
#profile-heading,
#user-bio,
#user-pronouns,
#user-location {
  border-color: rgb(255 165 238 / 100%);
  color: rgb(255 165 238 / 75%);
  filter: drop-shadow(0 0 0.1rem #800080);
}

/*
Doras Theme Engine v2 scopes custom CSS and automatically makes declarations
important, so direct values must be used instead of :root variables.
*/
.richText,
.Rich-Text-Block,
.Text,
#block,
#divider,
#mediakit {
  background-color: rgb(239 183 255 / 85%);
  border-color: rgb(255 165 238 / 100%);
  filter: drop-shadow(0 0 0.35rem #800080);
}

#mediakit-tiktok-wildwanderer_vr,
#mediakit-twitch-wildwanderer_vr,
#mediakit-twitter-WildWanderer_vr,
[id="mediakit-youtube-@wildwanderer_vr"] {
  background-color: rgb(218 154 224 / 85%);
  border-color: rgb(255 165 238 / 100%);
  filter: drop-shadow(0 0 0.35rem #800080);
}
